/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Athiti');
//@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Wellfleet');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #8b00ff;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Athiti', sans-serif;
$headingFont: 'Wellfleet', cursive;
$headingTextShadow: 2px 2px black;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$linkColor: #dfff00;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
$heading1TextShadow: 2px 2px black;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal a {
    text-decoration: underline;
}

