/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css?family=Athiti');
@import url('https://fonts.googleapis.com/css?family=Monofett');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #8b00ff;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Athiti', sans-serif;
$headingFont: 'Monofett', cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$linkColor: #24f166;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #222;
    }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
